.desktop-nav 
{
  display: flex;
  height: 100px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: burlywood;
  flex-wrap: wrap;
  padding: 0 10px 0 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
position: relative; 
}

.logo{
  font-weight: 500px;
}


.desktop-nav ul
{
   display: flex;
   list-style: none;
   justify-content: space-between;
   position: absolute;
   right: 50px;
    
}
.desktop-nav ul li a 
{
    padding: 1rem;
  text-decoration: none;
  color: whitesmoke;
  font-size: 1.2rem;
  
}
