.avatar-medium {
    border-radius: 50%;
    transition: linear 0.25s;
    height: 50px;
    width: 50px;
    padding:1rem;

  }

  .avatar-small {
    border-radius: 50%;
    transition: linear 0.25s;
    height: 40px;
    width: 40px;
  }


