.badge-box 
{
   display: flex;
}

.badge-item
{
    width: 70px;
    height:70px;
    background: #fff;
    border-radius: 40px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}

.badge-item i
{
    color: burlywood;
    position: absolute;
    font-size: 30px;
    left : 20px;
    top :20px;
}

.badge-item .num 
{
    position: absolute;
    top:3px;
    right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: black;
    color: whitesmoke;
}